@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

* {
    box-sizing: border-box;
}

body {

}

.container {
    display: grid;
}

.item-a {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F5F5DC;
}

.item-b {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 3;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F5F5DC;

}

.item-c {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 7;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F5F5DC;
}

.item-d {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 4;
    grid-row-end: 7;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F5F5DC;
}

h1 {
    font-weight: 100;
    font-size: 10vw;
    line-height: 10vw;
    color: #FF0000;
}

span:nth-child(1) {
    animation-delay: 500ms;
}

span:nth-child(2) {
    animation-delay: 1000ms;
}

span:nth-child(3) {
    animation-delay: 1500ms;
}

span:nth-child(4) {
    animation-delay: 2000ms;
}


@keyframes animate-fit {
    from {
        font-variation-settings: "wght" 100;
    }
    to {
        font-variation-settings: "wght" 800;
    }
}

span {
    animation-name: animate-fit;
    animation-direction: alternate;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}



