@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

* {
    box-sizing: border-box;
}

canvas {
    width: 100%;
    height: 100%
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #D7D2BD;
    display: flex;
}

.container {
    display: grid;
}

.item-a {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    opacity: 0.1;
}

.item-b {
    text-align: right;
    margin-left: 90vw;
    position: absolute;
    margin-top: 40vh;

}

.item-c {
    width: 100%;
    height: 100%;
    color: lightgray;
    position: absolute;
    user-select: none;
    margin: 0, auto;
    margin-top: 20vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: -10;

}

.item-d {
    margin-top: 20vh;
    margin-left: 25vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;

}

h1 {
    font-weight: 100;
    font-size: 20vh;
}

h2 {
    font-weight: 100;
    font-size: 1.5vw;
    line-height: 10vw;
}



span {
    animation-name: animate-fit;
    animation-direction: alternate;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: relative;
    margin-left: -1rem;
}


.scene {
    width: 210px;
    height: 140px;
    position: relative;
    perspective: 1000px;
    margin-top: 20vh;
    margin-left: 50vh;
    font-weight: 800;
}

.carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    color: red;
    font-size: 3rem;
    perspective: 13rem;
    transform: rotate(-10deg);

}

.carousel__cell {
    position: absolute;
    width: 100px;
    height: 80px;
    left: 10px;
    top: 10px;
}

.carousel {
    animation-name: typocircle;
    animation-direction: normal;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    margin-left: 10rem;
    transform: rotate(-100deg);


}

.carousel__cell:nth-child(1) { transform: rotate(8deg)      rotateY(  0deg) translateZ(100px); }
.carousel__cell:nth-child(2) { transform: rotate(16deg)     rotateY( 40deg) translateZ(200px); }
.carousel__cell:nth-child(3) { transform: rotate(32deg)     rotateY( 80deg) translateZ(300px); }
.carousel__cell:nth-child(4) { transform: rotate(40deg)     rotateY(120deg) translateZ(100px); }
.carousel__cell:nth-child(5) { transform: rotate(48deg)     rotateY(160deg) translateZ(200px); }
.carousel__cell:nth-child(6) { transform: rotate(56deg)     rotateY(200deg) translateZ(300px); }
.carousel__cell:nth-child(7) { transform: rotate(72deg)     rotateY(240deg) translateZ(150px); }
.carousel__cell:nth-child(8) { transform: rotate(80deg)     rotateY(280deg) translateZ(250px); }
.carousel__cell:nth-child(9) { transform: rotate(88deg)     rotateY(320deg) translateZ(350px); }


@keyframes typocircle {
    from {
        transform: rotateY(  0deg) translateZ(288px);

    }
    to {
        transform: rotateY(  360deg) translateZ(288px);

    }

}

ul {
    margin-top: 20%;
    list-style: none;
    font-size: 4vw;
    transform-style: preserve-3d;
    animation: three-dimensions-circle 15s linear infinite;
}

li {
    position: absolute;
    top: 50%;
    left: 50%;
}

li:nth-child(1) {
    transform: translate(-50%, -50%) rotate(-14deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(2) {
    transform: translate(-50%, -50%) rotate(2deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(3) {
    transform: translate(-50%, -50%) rotate(18deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(4) {
    transform: translate(-50%, -50%) rotate(34deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(5) {
    transform: translate(-50%, -50%) rotate(50deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(6) {
    transform: translate(-50%, -50%) rotate(66deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(7) {
    transform: translate(-50%, -50%) rotate(82deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(8) {
    transform: translate(-50%, -50%) rotate(98deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(9) {
    transform: translate(-50%, -50%) rotate(114deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(10) {
    transform: translate(-50%, -50%) rotate(130deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(11) {
    transform: translate(-50%, -50%) rotate(146deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(12) {
    transform: translate(-50%, -50%) rotate(162deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(13) {
    transform: translate(-50%, -50%) rotate(178deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(14) {
    transform: translate(-50%, -50%) rotate(194deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(15) {
    transform: translate(-50%, -50%) rotate(210deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(16) {
    transform: translate(-50%, -50%) rotate(226deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(17) {
    transform: translate(-50%, -50%) rotate(242deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(18) {
    transform: translate(-50%, -50%) rotate(258deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(19) {
    transform: translate(-50%, -50%) rotate(274deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(20) {
    transform: translate(-50%, -50%) rotate(290deg) translateY(-260px) rotateX(90deg);
}

li:nth-child(21) {
    transform: translate(-50%, -50%) rotate(306deg) translateY(-260px) rotateX(90deg);
}

@keyframes three-dimensions-circle {
    0% {
        transform: rotateX(-100deg) rotate(0);
    }

    100% {
        transform: rotateX(-100deg) rotate(-360deg);
    }

}
